<div class="row">
    <div class="col-lg-9">
        <%= link_to '<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back'.html_safe, school_path(@post.school), class: 'btn btn-primary back-btn' %>
        <%= render @post, show_action_button: false %>
        <hr />
        <h4><%= pluralize(@post.comments_count, 'Comment') %></h4>
        <% can_add = user_signed_in? && @post.school = current_user.school %>
        <% if @post.comments.empty? %>
            <p>
                No comments yet. <%= 'Add one below!' if can_add %>
            </p>
        <% else %>
            <%= render partial: 'comments/comment', collection: @post.comments %>
        <% end %>
        <%= render 'comments/form', post: @post if can_add %>
    </div>
    
    <div class="col-lg-3">
        <div class="well sidebar-nav">
            <% if user_signed_in? %>
                <% if current_user.admin? && @post.school == current_user.school %>
                    <ul class="nav nav-list">
                        <li class="nav-header">Admin Actions</li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                Change Status <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <% Post.statuses.each_key do |status| %>
                                    <li class="<%= 'disabled' if @post.status == status %>" ><%= link_to status.humanize, set_status_post_path(@post, status), method: :post, class: "#{'ovr-text-'+status_to_suffix(status) if @post.status != status}" %></li>
                                <% end %>
                            </ul>
                        </li>
                    </ul>
                    <hr />
                <% end %>
                <% if current_user == @post.user %>
                    <ul class="nav nav-list">
                        <li class="nav-header">Author Actions</li>
                        <li><%= link_to '<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit this post'.html_safe, edit_post_path(@post), class: 'text-warning' %></li>
                        <li><%= link_to '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete this post'.html_safe, post_path(@post), method: 'delete', data: { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: 'text-danger' %></li>
                    </ul>
                    <hr />
                <% end %>
                <ul class="nav nav-list">
                    <li class="nav-header">Actions</li>
                    <% l_class =  current_user.liked_posts.include?(@post) ? 'text-info' : ''  %>
                    <li><%= link_to '<span class="glyphicon glyphicon-heart" aria-hidden="true"></span> I Agree!'.html_safe, '#', class: "text-default post-like #{l_class}", data: {:post_id => @post.id} %></li>
                    <li><%= link_to '<span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Add a comment'.html_safe, '#', class: 'text-primary js-add-comment-helper' %></li>
                </ul>
            <% else %>
             <p>Sign in to Like, Add a Comment, Edit, or Delete this post.</p>
            <% end %>
        </div><!--/.well -->
    </div><!--/.col-->
</div><!--/row-->
              

